{% extends 'base.html' %}
{% block title %} Tv show {% endblock %}
{% block content %}


<!-- seriessingle11:03-->


<!--preloading-->




<div class="hero sr-single-hero sr-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
							<div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{original_name}} <span> {{first_air_date}}</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
	
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{vote_average}}</span> /10<br>
								
							</p>
						</div>
						
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv tabs-series">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li> 
								<li><a href="#season"> Season</a></li> 
								<li ><a href="#moviesrelated"> Related Shows</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{overview}}</p>
						            		<div class="title-hd-sm">
												<h4>Current Season</h4>
												<a href="#" class="time">View All Seasons <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
                                               									
                                                    <div class="cast-it">
                                                        <div class="cast-left series-it">
                                                            <img src="" alt="">
                                                            <div>
                                                                <a href="#">Season 10</a>
                                                                <p>21 Episodes</p>
                                                                <p>Season 10 of The Big Bang Theory premiered on 
                                                                September 19, 2016.</p>
                                                            </div>	
                                                        </div>											
                                                    </div>	
                                               
											</div>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											
											<div class="title-hd-sm">
												<h4>cast</h4>
										
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
                                                {% for i,k in casts.items() %}											
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="https://image.tmdb.org/t/p/original{{k[2]}}" alt="" style="width: 100px; height:100px">
                                                            <a href="#">{{k[0]}}</a>
                                                        </div>
                                                        <p>{{k[1]}}</p>
                                                    </div>
                                                {% endfor %}
											</div>
											<div class="title-hd-sm">
												<h4>User reviews</h4>
												<a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie user review -->
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
                                                {% for i in created_by %}
						            			<p><a href="#">{{i}}</a></p>
                                                {% endfor %}
						            		</div>

						            		<div class="sb-it">
						            			<h6>Stars: </h6>
                                                {% for i,k in casts.items() %}
						            			<p>
                                                    <a href="#">{{k[0]}},</a> 
                                                </p>
                                                {% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
                                                {% for i in genres %}
						            			<p>
                                                    <a href="#">{{i}}</a> 
                                                </p>
                                                {% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>First Air Date:</h6>
						            			<p>{{first_air_date}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{runtime}} Min</p>
						            		</div>
						            		
						            		
						    
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Related Movies To</h3>
						       	 				<h2>Skyfall: Quantum of Spectre</h2>
							            	</div>
							            	<a href="#" class="redbtn">Write Review</a>
						            	</div>
						            	
										<div class="mv-user-review-item">
											
											<p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
										</div>
										
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	
										
										<!-- //== -->
									

										<!-- //== -->
										
										<div class="mvcast-item">											

											



											

										</div>
										<!-- //== -->
										
										<div class="mvcast-item">											
											
											
											
										</div>
						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
						        	<div class="row">
						        		

										
										

						        	</div>
					       	 	</div>
					       	 	<div id="season" class="tab">
					       	 		<div class="row">
					       	 			<div class="mvcast-item">
                                            {% for i,k in session.items() %}											
                                                <div class="cast-it">
                                                    <div class="cast-left series-it">
                                                        <img src="https://image.tmdb.org/t/p/original{{k[0]}}" alt="" style="width:100px ; height:100px">
                                                        <div>
                                                            <a href="#">Season {{k[4]}}</a>
                                                            <p>Episodes: {{k[1]}}</p>
                                                            <p>StartDate: {{k[3]}}</p>
                                                        </div>	
                                                    </div>											
                                                </div>	
                                            {% endfor %}
										</div>
										
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2>Skyfall: Quantum of Spectre</h2>
					       	 			{% for i,k in tv_reco_detail.items() %}
                                            <div class="movie-item-style-2">
                                                <img src="https://image.tmdb.org/t/p/original{{k[0]}}" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">{{k[1]}} <span>(2012)</span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>{{k[2]}}</span> /10</p>
                                                    <p class="describe">{{k[3]}}</p>
                                                    <p class="run-time"> Run Time: {{k[4]}}’    .     <span>MMPA: PG-13 </span>    .     <span>Release: {{k[5]}}</span></p>
                                                    <p>Director: <a href="#">{{k[6]}}</a></p>
                                                    <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
                                                </div>
                                            </div>
                                        {% endfor %}
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}